%% -*- erlang -*-
{erl_opts, [fail_on_warning, debug_info]}.
{erl_first_files, ["src/plain_fsm_xform.erl","src/plain_fsm.erl"]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{clean_files, [".eunit", "ebin/*.beam","*~","*/*~"]}.

{profiles, [{docs, [{deps, [{edown, "0.8.4"}]},
                    {edoc_opts, [{doclet, edown_doclet},
                                 {doc_path, []},
                                 {top_level_readme,
                                  {"./README.md","https://github.com/uwiger/plain_fsm"}}]}]}

           ]}.
