%% -*- erlang -*-
{erl_opts, [fail_on_warning, debug_info]}.
{erl_first_files, ["src/plain_fsm_xform.erl","src/plain_fsm.erl"]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{clean_files, [".eunit", "ebin/*.beam","*~","*/*~"]}.

{ex_doc, [
     {extras, ["README.md"]},
     {main, "README.md"},
     {source_url, "https://github.com/uwiger/edown"}
]}.

{hex, [{doc, ex_doc}]}.


{profiles, [{docs, [{deps, [{edown, "0.9.1"}]},
                    {edoc_opts, [{doclet, edown_doclet},
                                 {doc_path, []},
				 {branch, "master"},
                                 {top_level_readme,
                                  {"./README.md","https://github.com/uwiger/plain_fsm"}}]}]}

           ]}.
