%% -*- erlang -*-
{erl_opts, [fail_on_warning, debug_info]}.
{erl_first_files, ["src/plain_fsm_xform.erl","src/plain_fsm.erl"]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{clean_files, [".eunit", "ebin/*.beam","*~","*/*~"]}.

{profiles,
 %% edown-related config (for generating github-friendly edoc)
 [
  {deps,
   [{edown, ".*", {git, "git://github.com/uwiger/edown.git", {tag, "0.8"}}}]},
  {edoc_opts, [{doclet, edown_doclet},
               {top_level_readme,
                {"./README.md",
                 "http://github.com/uwiger/plain_fsm"}}]}
 ]}.
